# Base de Datos
DB_USER=tu_usuario
DB_PASS=tu_password
DB_NAME=mia
DB_HOST=localhost
DB_PORT=5433

# Blockchain
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
CONTRACT_ASSET=0xTuContratoAsset
CONTRACT_MARKETPLACE=0xTuContratoMarketplace
PRIVATE_KEY=TU_PRIVATE_KEY

# Seguridad
JWT_SECRET=tu_secreto_super_fuerte
API_KEY=tu_api_key_secreta

# Redis
REDIS_PORT=6380
